/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFCF7;
}

/* Header */
header {
    background-color: #440808;
    color: #FEEEEE;
    text-align: center;
    padding: 10px;
}

/* Navigation */
nav {
    background-color: #330808;
    color: #FEEEEE;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.campaign-list {
    display: flex;
    justify-content: center;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

button {
	background-color: #580404;
	border: none;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
  }
  
button:hover {
	background-color: #4d0a0a;
}

.bild {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#bb {
    width: 60.8%
}